html, body {
    height: 100%;
    margin: 0;
}

#vis {
    height: 100%;
    background: #111;
    overflow-x: hidden;
    overflow-y: hidden;

}

.ui {
    font-family: sans-serif;
    color : white;
    font-weight: 600;
}

.markers circle  {
    fill: white;
    opacity: 0.25;

}

#ui_currentdate {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px;
    left: 20px;
    background-color: hsla(0,0%,30%,0.3);
}

.date span .dayofweek {
    float: left;
    width: 40px;
clear: right;
}


.land {
    fill: #222;
}

.land .highlight {
    fill: #773333;
}

.land #BRD {
    fill: #222;
    opacity: 0.5;
}

.graticule {
    fill: none;
    stroke-width: 0.08px;
    stroke: #fff;

}

.bezirksgrenze {
    fill: none;
    stroke: #777;
    stroke-linejoin: bevel;
    stroke-linecap: bevel;
    stroke-width: .25px;
}

.staatsgrenze {
    fill: none;
    stroke: #663333;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 3px;
}

.staatsgrenzeoffen {
    fill: none;
    stroke: #777;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1px;
    animation-name: flicker;
    animation-duration: 1.3s;
    animation-iteration-count: 1;

}

@keyframes flicker {
    0% { stroke: hsl(15, 80%, 70%); }
    3% { stroke: hsl(15, 0%, 0%); }
    6% { stroke: hsl(15, 50%, 63%); }
    8% { stroke: hsl(15, 0%, 0%); }
    15% { stroke: hsl(15, 0%, 0%); }
    17% { stroke: hsl(15, 50%, 63%); }
    25% { stroke: hsl(15, 0%, 0%); }
    10% { stroke: hsl(15, 0%, 90%); }
    27% { stroke: hsl(15, 0%, 0%); }
    30% { stroke: hsl(15, 50%, 63%); }
    45% { stroke: hsl(15, 0%, 0%); }
    95% { stroke: hsl(15, 0%, 0%); }
    100% { stroke: hsl(15, 0%, 63%); }
}


.bubble {
    fill: brown;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}

.bubble :hover {
    stroke: #000;
}

.legend circle {
    fill: none;
    stroke: #ccc;
}

.legend text {
    fill: #777;
    font: 10px sans-serif;
    text-anchor: middle;
}