@font-face {
  font-family: 'controls';
  src: url('../font/controls.eot?6005235');
  src: url('../font/controls.eot?6005235#iefix') format('embedded-opentype'),
       url('../font/controls.woff?6005235') format('woff'),
       url('../font/controls.ttf?6005235') format('truetype'),
       url('../font/controls.svg?6005235#controls') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#vis {
    height: 100%;
    background: #111;
    overflow-x: hidden;
    overflow-y: hidden;

}

.ui {
    color : white;
    font-weight: 600;
}

.markers circle  {
    fill: white;
    opacity: 0.25;

}

#ui_currentdate {
    position: absolute;
    width: 7em;
    top: 0.5em;
    left: 0.5em;
    background-color: hsla(0,0%,30%,0.3);
    font-size: 4vw;
    padding: 0.5em;
}

.icon-to-start {
  float: right;
}

.controls {
  padding-bottom: 0.5em;
}

circle.pl300kplus {
    fill: #330606;
    stroke: black;
    stroke-width: 1px;
}
circle.pl100kto300k {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.controls span {
  cursor: pointer;
}

.controls span.active {
  color: #773333;
}

.legend text {
    fill: white;
}

.labeltext .pl300kplus {
 font-weight: 800;
}


.land {
    fill: #222;
}

.land .highlight {
    fill: #773333;
}

.land #BRD {
    fill: #454545;
    opacity: 0.5;
}

.graticule {
    fill: none;
    stroke-width: 0.08px;
    stroke: #fff;

}

.bezirksgrenze {
    fill: none;
    stroke: #777;
    stroke-linejoin: bevel;
    stroke-linecap: bevel;
    stroke-width: .25px;
}

.staatsgrenze {
    fill: none;
    stroke: #663333;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 3px;
}

.staatsgrenzeoffen {
    fill: none;
    stroke: #777;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1px;
    animation-name: flicker;
    animation-duration: 1.3s;
    animation-iteration-count: 1;

}

@keyframes flicker {
    0% { stroke: hsl(15, 80%, 70%); }
    3% { stroke: hsl(15, 0%, 0%); }
    6% { stroke: hsl(15, 50%, 63%); }
    8% { stroke: hsl(15, 0%, 0%); }
    15% { stroke: hsl(15, 0%, 0%); }
    17% { stroke: hsl(15, 50%, 63%); }
    25% { stroke: hsl(15, 0%, 0%); }
    10% { stroke: hsl(15, 0%, 90%); }
    27% { stroke: hsl(15, 0%, 0%); }
    30% { stroke: hsl(15, 50%, 63%); }
    45% { stroke: hsl(15, 0%, 0%); }
    95% { stroke: hsl(15, 0%, 0%); }
    100% { stroke: hsl(15, 0%, 63%); }
}


.bubble {
    fill: brown;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}

.bubble :hover {
    stroke: #000;
}

.legend circle {
    fill: none;
    stroke: #ccc;
}

.ticker text {
    fill: yellow;
    font-weight: 800;
    font: 11px monospace;
    text-anchor: middle;
    opacity: 0.2;
}

.legend circle {
    stroke-opacity: 0.5;
    stroke-width: 0.5;
    stroke-color: white;
}

.legend text {
    fill: #777;
    font: 10px sans-serif;
}

#info-icon {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  color: #fff;
  cursor: pointer;
}

#info-icon:hover {
  color: #773333;
}

#info {
  position: absolute;
  bottom: 5%;
  right: 10%;
  padding: 2em;
  width: 70%;
  max-width: 24em;
  background-color: #fff;
  color: #333;
}

#info.hide {
  display: none;
}

.close {
  float: right;
  cursor: pointer;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "controls";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-to-start:before { content: '\e802'; } /* '' */
.icon-fast-fw:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
