@font-face {
  font-family: 'controls';
  src: url('../font/controls.eot?6005235');
  src: url('../font/controls.eot?6005235#iefix') format('embedded-opentype'),
       url('../font/controls.woff?6005235') format('woff'),
       url('../font/controls.ttf?6005235') format('truetype'),
       url('../font/controls.svg?6005235#controls') format('svg');
  font-weight: normal;
  font-style: normal;
}

@keyframes flicker {
    0% { stroke: hsl(15, 80%, 70%); }
    3% { stroke: hsl(15, 0%, 0%); }
    6% { stroke: hsl(15, 50%, 63%); }
    8% { stroke: hsl(15, 0%, 0%); }
    15% { stroke: hsl(15, 0%, 0%); }
    17% { stroke: hsl(15, 50%, 63%); }
    25% { stroke: hsl(15, 0%, 0%); }
    10% { stroke: hsl(15, 0%, 90%); }
    27% { stroke: hsl(15, 0%, 0%); }
    30% { stroke: hsl(15, 50%, 63%); }
    45% { stroke: hsl(15, 0%, 0%); }
    95% { stroke: hsl(15, 0%, 0%); }
    100% { stroke: hsl(15, 0%, 63%); }
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

a, a:visited {
  color: #333;
  text-decoration: underline;
}

#vis {
    height: 100%;
    background: #111;
    overflow-x: hidden;
    overflow-y: hidden;

}

.ui {
    color : white;
    font-weight: 600;
}

#ui_currentdate {
    position: absolute;
    width: 9em;
    width-max: 30%;
    height: auto;
    max-height: 90%;
    top: 0.5em;
    left: 0.5em;
    background: linear-gradient(to bottom, hsla(0,0%,30%,0.3), hsla(0,0%,30%,0.3), hsla(0,0%,30%,0));
    font-size: 4vw;
    padding: 0.5em;
}

#ui_currentdate .date{
    position: relative;
top: 0.5em;
     border-top: solid white;
     border-top-width: thin;
     margin 0em;
     padding-top: 0em;
    padding-bottom: 0.5em;
     line-height: 2em;
 }
#ui_currentdate .dateline2{
    line-height: 0.5em;
    padding-bottom: 0.3em;
}


.ui .description{
    padding-top: 0.1em;
    margin-top: 0.4em;
    color : snow;
}

.description p{
    font-size: 2vw;
    font-weight: 400;
    padding-left:0;
    margin: 0;
    white-space: nowrap;
}

.description .list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 9.8em;
}

.description .list p {
    marign-top: 0.2em;
    padding-top: 0.2em;
    border-top: solid rgba(255,255,255,0.3);
    border-top-width: thin;
}

.description .list a {
     color:#ffffff;
 }

.description .list a:hover {
   background-color:rgba(255,255,255,0.3);
   color:yellow;
}


.description p span{
    display: inline-block;
    width: 3em;
}

.description p span.number6{
    text-align: right;
    width: 7em;
    padding-right: 0.3em;
}

.description p span.number3{
    text-align: right;
    width: 6em;
    padding-right: 0.3em;
}


.icon-to-start {
  float: right;
}

.controls {
  padding-bottom: 0em;
}

.controls span {
  cursor: pointer;
}

.controls span.active {
  color: #773333;
}

.bubble {
    fill: brown;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}

.bubble :hover {
    stroke: #000;
}

#info-icon {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  color: #fff;
  cursor: pointer;
}

#info-icon:hover {
  color: #773333;
}

#info {
  position: absolute;
  bottom: 5%;
  right: 10%;
  padding: 2em;
  width: 70%;
  max-width: 24em;
  background-color: #fff;
  color: #333;
}

#info h4 {
    margin-top: 5px;
    margin-bottom:0;
}

#info ul {
    margin-top: 0;
    list-style:none;
    padding-left:0;
}

.hide {
  display: none;
}

.close {
  float: right;
  cursor: pointer;
}

.close:hover {
  color: #773333;
}

.correctiv {
  background-image: url('../img/correctiv_logo_trans.png');
  width: 170px;
  height: 66px;
  display: block;
  background-repeat: no-repeat;
  text-indent: -99999px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .correctiv {
    background-size: 170px 66px;
    background-image: url('../img/correctiv_logo_trans@2x.png');
  }
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "controls";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.hidden{
    display:none;
}
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-to-start:before { content: '\e802'; } /* '' */
.icon-fast-fw:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
